version: "3.9"

services:
  app:
    build: .
    image: timgrob/cryptowarren:latest
    container_name: cryptowarren
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
    env_file:
      - ".env"